*{margin: 0; font-family: Helvetica;}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

input{
    background-color: lightgray;
    border-color: transparent;
    margin: 10px;
}

.campo1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

button{
    margin: 10px;
    border-radius: 10px;
    border-color: transparent;
    background-color: blueviolet;
    color: white;
    height: 30px;
    font-size: 20px;
}

.botones{
    display: flex;
    flex-direction: column;
    width: 200px;
}

#aviso{
    display: none;
    margin: 10px;
}